In [0]:
import pandas as pd
df = pd.read_csv('Final.csv', error_bad_lines=False)

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.datasets import make_classification

In [0]:
np.random.seed(500)

In [0]:
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(df['cleaned_tweet'],df['Sentiment'],test_size=0.3) #30 percent test data and remaining for training

In [0]:
Encoder = LabelEncoder()
Train_Y = Encoder.fit_transform(Train_Y)
Test_Y = Encoder.fit_transform(Test_Y)
Tfidf_vect = TfidfVectorizer(ngram_range=(1,2),max_features=100000)   #Here selected top 100000 
#Tfidf_vect = TfidfVectorizer(max_features=1000)
Tfidf_vect.fit(df['cleaned_tweet'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)

In [14]:
# fit the training dataset on the NB classifier
Naive = naive_bayes.MultinomialNB()
Naive.fit(Train_X_Tfidf,Train_Y)
# predict the labels on validation dataset
predictions_NB = Naive.predict(Test_X_Tfidf)
target_names = ['Positive', 'Negative', 'Neutral']
print(classification_report(Test_Y, predictions_NB,target_names=target_names))

              precision    recall  f1-score   support

    Positive       0.86      0.62      0.72     51895
    Negative       0.89      0.95      0.92    146882
     Neutral       0.83      0.88      0.86    100601

    accuracy                           0.87    299378
   macro avg       0.86      0.81      0.83    299378
weighted avg       0.87      0.87      0.86    299378

In [39]:
import pandas as pd
import numpy as np
Test_Y=list(Test_Y)
predictions_NB=list(predictions_NB)
dataset = pd.DataFrame(np.column_stack([Test_Y, predictions_NB]), 
                               columns=['Actual', 'Predicted'])
dataset

        Actual  Predicted
0            2          2
1            2          2
2            2          2
3            2          1
4            2          2
...        ...        ...
299373       1          1
299374       0          0
299375       2          2
299376       1          1
299377       1          1

[299378 rows x 2 columns]